---
---

@import "{{ site.theme }}";

@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,400;0,700;1,400;1,700&family=IBM+Plex+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap');

* {
    font-family: 'IBM Plex Serif', serif;
    font-family: 'IBM Plex Sans', sans-serif;
}

body {
    display: grid;
    grid-template-columns: 1fr 3fr;
}

// Header CSS

header {
    grid-column: span 2;
    display: grid;
    grid-template-columns: 1fr 3fr;
    background: black;
    color: #ffffff;
    width: 100%;
}

header #headerLogo {
    display: grid;
    grid-template-rows: 2;
    margin: 1em;
}

header > #headerLogo > img {
    margin: 0 auto;
    width: 120px;
}

header #headerUnitCode {
    margin: 0 auto;
}

header > #headerBanner > img {
    width: 75%;
}

// Other stuff

img[src*="#face"] {
    width: 350px;
}

img[src*="#bordered"] {
    border: 1px solid black;
 }