---
---

@import "{{ site.theme }}";

@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,400;0,700;1,400;1,700&family=IBM+Plex+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap');

* {
    font-family: 'IBM Plex Serif', serif;
    font-size: 18px;
}

body {
    display: grid;
    grid-template-columns: 240px 1fr;
}

// Header CSS

header {
    grid-column: span 2;
    display: grid;
    grid-template-columns: 240px 1fr;
    background: black;
    color: #ffffff;
    width: 100%;
}

header #headerLogo {
    display: grid;
    grid-template-rows: 3fr 1fr;
    margin: 1.5em;
}

header > #headerLogo > img {
    margin: 0.5em auto;
    height: 150px;
}

header #headerUnitCode {
    margin: 0 auto;
}

header > #headerBanner {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 2.4em;
}

header > #headerBanner > img {
    max-width: 960px;
}

@media screen and (min-width: 768px) and (max-width: 1200px) {
    header > #headerBanner > img {
        width: 512px;
        object-fit: scale-down;
    }
}

@media screen and (max-width: 768px) {
    header > #headerBanner > img {
        display: none;
    }
}

// Nav

nav {
    padding-top: 32px;
}

.nav-button {
    text-align: center;
    font-size: 0.8em;
    padding: 0.5em;
    margin: 1.4em;
    background: black;
    color: #ffffff;
    border: 0.5em ridge rgb(131, 18, 18);
}

// Main contents

.container-lg {
    text-align:justify;
    max-width: 50em;
}

.container-lg > h1 {
    text-align: left;
}

// Other stuff

img[src*="#face"] {
    width: 250px;
}

img[src*="#bordered"] {
    border: 1px solid black;
 }