---
---

@import "{{ site.theme }}";

@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,400;0,700;1,400;1,700&family=IBM+Plex+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap');

* {
    font-family: 'IBM Plex Serif', serif;
    font-family: 'IBM Plex Sans', sans-serif;
}

header {
    display: grid;
    grid-template-columns: 2fr 4fr;
    background: #002f5f;
    color: #ffffff;
    width: 100%;
}

header #headerUnitCode {
    display: grid;
    grid-template-rows: 2;
}

header #headerBanner {
    width: 0 auto;
}

img[src*="#face"] {
    width: 350px;
}

img[src*="#bordered"] {
    border: 1px solid black;
 }